:root {
  --main-color: #AD171C;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  margin: 0;
  height: 100vh;
}

html {
  font-family: Roboto;
  font-size: 18px;
}

.main  {
  background-color: white;
  padding: 16px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

input {
  padding: 8px;
  display: block;
  width: 300px;
  margin-top: 8px;
}

.password {
  margin-top: 16px;
}

a {
  text-decoration: none;
}

input[type="submit"] {
  background: var(--main-color);
  color: white;
  border: 1px solid var(--main-color);
  transition: all ease .2s;
  border-radius: 4px;
  padding: 4px 8px;
  width: 100%;
}

input[type="submit"]:hover {
  color: var(--main-color);
  background: white;
  cursor: pointer;
}

.next {
  width: 100%;
  margin-top: 16px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid var(--main-color);
}

.next:hover {
  background-color: white;
  color: var(--main-color);
}
